@media screen and (max-width:820px) {
  

  nav {
    flex-direction: column;
  }

  .logo {
    justify-content: center;
    margin: 10px 0 9px 0;
  }

  .search {
    margin: 9px auto;
  }

  nav ul {
    justify-content: center;
  }

  .Sclide {
    width: 74vw;
    overflow: scroll;
    height: 56vh;
  }

}
